<!DOCTYPE html>
{%extends 'base.html'%}

{%block body_block%}
<div>
    <div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
                <form action="" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="search" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
<h1>
    Your Brands are here
</h1>
    <table class="table">
        <tr>
            <th>brand_name</th>
        </tr>
           {%if brands%}
             {% for brand in brands%}
        <tr>

            <td>{{brand.brand_name}}</td>
            <td><a href="{%url 'view' brand.brand_name%}" class="btn btn-warning">view</a> <a href="{%url 'change' brand.brand_name%}" class="btn btn-primary">edit</a> <a href="{%url 'remove' brand.brand_name%}" class="btn btn-danger">delete</a></td>
            <td></td>
            <td></td>

        </tr>
            {%endfor%}
        {%else%}
            <tr>
                <td colspan="5" class="text-center">
                    No Brand Available
                </td>
            </tr>
        {%endif%}
    </table>


</div>



{%endblock%}